# step 4. Required pckgs
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv

anthropic

neo4j
psycopg[binary]
pgvector

sentence-transformers

numpy
scikit-learn
requests
beautifulsoup4
markdown

pytest
httpx